<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>52.83.119.110:9095</string>
    <string>52.83.159.189:9095</string>
    <string>3.16.202.140:9095</string>
    <string>18.217.147.205:9095</string>
    <string>18.219.53.133:9095</string>
</array>
</plist>
